<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
       
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/responsive/result.css">
    </head>
    <body style="display:block">

            <div class="container">
        <br>
            <br>
            <br>
            <center>
                <h1 id="h1inresult"> <%= id.replace(/_/g, " "); %> </h1>
                <br>
             <form action="/results" method="post">
                <input type="hidden" name="collection_id" value=<%= id %>>
                <input class="form-control center" id="htnoinput"  type="text" name="hallticket_no" placeholder="Enter Hallticket Number">
                <br>
                <button  class="btn btn-primary btn-md">Submit</button>
            </form>
        
            <br>
     <% if(typeof student !='undefined'){ %>

            <div class="table">
        <table class="table">
       <tr>
    <th> &nbsp;&nbsp;Subject Code  &nbsp;&nbsp;  </th>
    <th> &nbsp;&nbsp;Subject Name  &nbsp;&nbsp;</th>
    <th> &nbsp;&nbsp;Internal Marks&nbsp;&nbsp;  </th>
    <th> &nbsp;&nbsp;External Marks&nbsp;&nbsp;  </th>
    <th> &nbsp;&nbsp;Total Marks   &nbsp;&nbsp;</th>
    <th> &nbsp;&nbsp;Credits   &nbsp;&nbsp;</th>
    </tr>
    
    <% var sum=0; %>
    <% student.forEach(function(mark){ %>
        <tr>
       <td>&nbsp;&nbsp;<%= mark.subject_code %></td> 
        <td>&nbsp;&nbsp;<%= mark.subject_name %> </td>
        <td>&nbsp;&nbsp;<%= mark.internal_marks %></td>
        <td>&nbsp;&nbsp;<%= mark.external_marks %></td>
        <td>&nbsp;&nbsp;<%= mark.total_marks %> </td>
        <td>&nbsp;&nbsp;<%= mark.credits %></td>

    </tr>
    <% sum=sum+mark.total_marks; %>
<% }) %> 
<tr>
    <td>&nbsp;</td>
    <td> &nbsp;</td>
     <td>&nbsp;</td>
     <td><b>Total</b>&nbsp;</td>
     <td><b><%= sum%> </b>&nbsp;</td>
     <td></td>

 </tr>
</table>
</div>
<% } %>
</center>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>
</body>
</html>

